.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Shared styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.text-primary {
  color: #e95a08;
}

.gray-1 {
  color: #8987a1;
}

.gray-2 {
  color: rgba(0, 0, 0, 0.5);
}

.bold {
  font-weight: bold;
}

/* .common-margin {
  margin: 0 150px;
} */

/* Navbar styles starts */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin: 0 auto;
  max-width: 1140px;
}

.nav-contents {
  display: flex;
  list-style: none;
}

.nav-contents li {
  margin-right: 48px;
}
/* Navbar styles ends  */

/* Banner Styles starts */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 120px;
  margin-top: 120px;
}

.banner-info {
  max-width: 570px;
  max-height: 300px;
}

.banner-title {
  font-size: 4rem;
}

.banner-description {
  font-size: 1.4rem;
}
/* Banner Styles ends */

/* Our plants and cards  */
.our-plants {
  text-align: center;
}
/* .our-plants-info {
  text-align: center;
} */

.our-plants-title {
  font-size: 4rem;
  gap: 16px;
}

.our-plants-description {
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  margin-bottom: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.product-name {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.card button {
  background-color: #e95a08;
  color: white;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
/* Our plants and cards Ends */

/* Flower & Plants Lover section starts */
.plants-lover-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  gap: 40px;
  margin-top: 210px;
}

.plant-lover-images {
  position: relative;
  width: 1000px;
  height: auto;
  margin-right: 60px;
}

#img-1 {
  width: 110%;
  height: auto;
}

#img-2 {
  position: absolute;
  top: -110px;
  right: -110px;
  width: 250px;
  height: auto;
}

.plant-lover-info {
  max-width: 600px;
}

.plant-lover-info h1 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.3;
}

.plant-lover-info ul {
  padding-left: 20px;
  list-style: disc;
  font-size: 1.375rem;
  line-height: 1.5;
}

/* Flower & Plants Lover section ends */

/* Responsive Design for Mobile */
@media screen and (max-width: 576px) {
  body {
    margin: 0;
  }
  /* Responsive Navbar  */

  .hidden {
    display: none;
  }

  .nav-contents li {
    margin: 0;
  }

  .navbar {
    margin: 28px 16px;
  }
  .nav-logo {
    max-width: 63px;
    max-height: 38px;
  }

  /* Responsive banner  */
  .banner {
    flex-direction: column-reverse;
    margin: 0;
  }

  .banner-image {
    width: 100%;
    margin-bottom: 28px;
  }

  .banner-info {
    max-width: auto;
    max-height: 147px;
    margin: 28px 16px;
  }
  .banner-title {
    font-size: 1.5rem;
    margin-bottom: 13px;
  }

  .banner-description {
    font-size: 0.875rem;
  }

  /* Responsive card section  */
  .our-plants {
    margin: 0;
  }

  .our-plants-title {
    font-size: 1.5rem;
    margin-top: 65px;
  }

  .our-plants-description {
    text-shadow: none;
    padding: 0 28px;
    text-size-adjust: 85%;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 15px;
  }

  /* Responsive Flower & Plants Lover section  */
  .plants-lover-section {
    flex-direction: column;
    padding: 5px;
    max-width: auto;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 140px;
  }

  .plant-lover-images {
    width: 90%;
  }

  #img-1 {
    margin-left: 5px;
    align-items: center;
    justify-content: center;
  }

  #img-2 {
    display: none;
  }

  .plant-lover-info h1 {
    font-size: 1.5rem;
  }

  .plant-lover-info ul {
    font-size: 0.8rem;
  }
}
